<div class="container">
  <h1 class="mt-4 mb-5">My current booking</h1>
    <div class="card-booking mt-3">
      <img src="https://images.unsplash.com/photo-1516045827954-c625663e0dc7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJpa2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" />

      <div class="col">
        <p class="text-right font-weight-bold font-italic .align-items-start text-warning ml-3"><%= @booking.status = 'Pending' %></p>
        <div class="card-booking-text">
          <h2><%= @bike.bike_name %></h2>
          <p><%= @bike.bike_description %></p>
          <p><strong>Requested Dates:</strong> <%= @booking.booking_date %> - <span><%= @booking.end_date %></span></p>
          <div class="price-form">
            <p><strong>Price</strong></p>
            <p><strong>€</strong><%= @bike.price %><span>/day</span></p>
          </div>
        </div>

      </div>
    </div>
</div>

