<div class="banner">
  <div class="container-xxl mr-5 ml-5">
        <h1>Welcome to Rent&Ride</h1>
        <p>Here, you can offer bikes to rent or simply <br>
        rent a bike anywhere and anytime!</p>
         <%= link_to "Ride a bike 😎", bikes_path, class: "btn-home" %>
  </div>
</div>


<div class="container-xxl mr-5 ml-5">
  <h2 class="mt-5 mb-3"><strong>Bike Category</strong></h2>
  <div class="row">
    <% @bikes.each do |bike| %>
      <div class="col-sm-4">
        <%= link_to bikes_path, class:'text-decoration-none' do %>
          <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path(`http://localhost:3000/bikes/${id}`) %>)">
              <%= bike.bike_name %>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
 </div>

 <br>
<br>
<div class="banner-bikes mb-4 d-flex aligh-items-center justify-content-center mr-5 ml-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://traveloregon.com/wp-content/uploads/2017/07/2018Nov_slideshow_fatbike_hero2.jpg);">
  <div class="container">
    <div class="text-center mt-5">
      <h1>Enjoy the nature and ride eco-friendly anywhere in the world!</h1>
    </div>
  </div>
</div>
<br>
<br>
<div class="container-xxl mr-5 ml-5">
<h2 class="mb-3"> <strong>Bike Cities</strong></h2>
<div class="row">
  <% @bikes.each do |bike| %>
  <div cl ass="col-sm-3">
    <%= link_to bike_path(bike), class:'text-decoration-none' do %>
      <div class="card-city sm-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('https://www.majakturizm.com/AlbumMedia/content/0efbc626-60b7-4c5d-b21e-8816308aa992.jpg') %>)">
          <%= bike.bike_address %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>

