
      <%= simple_form_for @bike do |f| %>

        <div class="form-row">
          <div class="col-md-6">
            <%= f.input :bike_name, required: true, label: 'Bike Name', class:"bike-data" %>
          </div>
          <div class="form-group col-md-6">
            <%= f.input :bike_address, required: true, label: 'Address', class:"bike-data" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6  ">
            <%= f.input :bike_description, required: true, label: 'Description', class:"bike-data" %>
          </div>
          <div class="form-group col-md-6 bike-data">
            <%= f.input :price, required: true, label: 'Price', class:"bike-data" %>
          </div>
        </div>

        <div class="form-group ">
          <%= f.input :bike_url, label: 'URL', class:"bike-data" %>
          <p><em>* Please include a URL so we can see more information about your bike.</em></p>
        </div>

        <div class="form-group ">
          <%= f.input :photo, required: true, as: :file %>
          <%= f.submit class: 'btn btn-home' %>
        </div>

      <% end %>

