<div class="container py-5">
  <div>
    <h2>Add a new Bike</h2>
    <%= simple_form_for @bike do |f| %>
    <%= f.input :bike_name, label: 'Bike Name' %>
    <%= f.input :bike_address, label: 'Address' %>
    <%= f.input :bike_description, label: 'Description' %>
    <%= f.input :price, label: 'Price' %>
    <%= f.input :availability, label: 'Available?' %>
    <%= f.input :bike_url, label: 'URL' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn-sign-in' %>
    <% end %>
  </div>
</div>
