<div class="container">
  <h1 class="mt-4">An elegant <%= @bike.bike_name %> </h1>
  <h4>Located in <%= @bike.bike_address%> </h4>
    <% if @bike.photo.attached? %>
      <div class="banner-show" style="background: url(<%= url_for(@bike.photo) %>); background-size: cover;"></div>
    <% elsif @bike.bike_name == 'Cowboy' || 'cowboy' %>
      <div class="banner-show" style="background: url('<%= asset_url 'cowboy.png' %>'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
    <% elsif @bike.bike_name == 'Vanmoof' %>
      <div class="banner-show" style="background: url('<%= asset_url 'vanmoof.png' %>'); background-size: cover;  background-position: center; background-repeat: no-repeat;"></div>
    <% elsif @bike.bike_name == 'Angell' %>
      <div class="banner-show" style="background: url('<%= asset_url 'Angel.png' %>'); background-size: cover; background-position: bottom; background-repeat: no-repeat;"></div>
    <% else %>
      <div class="banner-show" style="background: url('<%= asset_url 'image-bike-show.jpg' %>'); background-size: cover; background-size: contain; background-repeat: no-repeat;"></div>
    <% end %>

  <div class="row">
    <div class="col-8">
      <div class="d-flex justify-content-between mt-4 mr-4">
        <h4>A stable and charming bike offered by <%= @bike.user.first_name %> </h4>
          <h5><%= image_tag "https://kitt.lewagon.com/placeholder/users/laurazerbini", class: "avatar" %></h5>
      </div>
      <hr>
      <h3 style="color: #ec2660;"><i class="fas fa-biking"></i> Specs </h3><br>

      <ul>
        <li><%= @bike.bike_description %></li>
        <li>Size: M-L frame only (for riders 170-195cm / 5ft6in-6ft4in tall)</li>
        <li>Finishes: Absolute Black, Anthracite Grey, Mineral Grey</li>
        <li>Aluminium frame design with integrated lights</li>
        <li>Mudguards sold separately</li>
        <li>Weight: 17kg</li>
      </ul>

      <p>The e-bike is beautiful, it is indisputable, and pleasant to ride. From the very first pedal stroke, it launches smoothly, even if it’s a bit heavy. On the other hand, the sporty riding position, leaning forward, can be tiring for those who are not used to it. Especially since the e-bike does not feature a shock absorber on the frame, it is the rider’s body that absorbs all the bumps of the road.
    </p>
    </div>

    <hr>

    <div class="col-4" >
      <div class="booking-form">
        <%= simple_form_for [ @bike, @booking ] do |f| %>
          <h4>Select your dates</h4>
          <div class="row mt-3">
            <div class="col mr-n2">
              <%= f.input :booking_date, required: true, label:false, placeholder: 'start date', as: :string, input_html: {class: "datepicker", id: "range_start"} %>
            </div>
            <div class="col ml-n2">
              <%= f.input :end_date, required: true, label:false, placeholder: 'end date', as: :string, input_html: {class: "datepicker", id: "range_end"} %>
            </div>
          </div>
          <%= f.input :booking_message, include_blank: false,  required: true, label: false, placeholder: 'Write your nice message here 😊', as: :text, input_html: {class: "text-box"} %>
          <%= f.submit "Reserve your bike", class: "btn btn-booking" %>
          <hr>
          <div class="price-form">
            <p><strong>Price</strong></p>
            <p><strong>€</strong><%= @bike.price %><span>/day</span></p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <br>
  <br>
  <hr>
  <div class="map mb-5 mt-4">
    <h3 class="mb-3" style="color: #ec2660;"><i class="fas fa-biking"></i> Location</h3>
    <div id="map"
       style="width: 100%; height: 600px; border-radius: 12px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
  <hr>
  <h3 style="color: #ec2660;"><i class="fas fa-biking"></i> Reviews</h3>

  <div class="col d-flex justify-content-left mt-4">
    <h5><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %></h5>
    <div class="mt-2 ml-2">
      <h6><strong>Seb</strong></h6>
      <p style="opacity: 0.7; line-height: 0.5;"><%= Date.today %></p>
    </div>
  </div>
    <p class="ml-4 mb-5">The bike was good but the website is amazing. I would love to work as junior developer 🚀.</p>

  <div class="col d-flex justify-content-left mt-4">
    <h5><%= image_tag "https://kitt.lewagon.com/placeholder/users/tonipanacek", class: "avatar-large" %></h5>
    <div class="mt-2 ml-2">
      <h6><strong>Toni</strong></h6>
      <p style="opacity: 0.7; line-height: 0.5;"><%= Date.today %></p>
    </div>
  </div>
    <p class="ml-4 mb-5">It looks like a bike but rides like a unicorn 🌈🦄.</p>
  <div class="col d-flex justify-content-left mt-4">
    <h5><%= image_tag "https://kitt.lewagon.com/placeholder/users/Hawareyoudoing", class: "avatar-large" %></h5>
    <div class="mt-2 ml-2">
      <h6><strong>Awa</strong></h6>
      <p style="opacity: 0.7; line-height: 0.5;"><%= Date.today %></p>
    </div>
  </div>
    <p class="ml-4 mb-5">Laura is a super-friendly bike-owner. The bike was in perfect condition and I would love to rent it again.</p>

  <div class="col d-flex justify-content-left mt-4">
    <h5><%= image_tag "https://kitt.lewagon.com/placeholder/users/stefaniesava", class: "avatar-large" %></h5>
    <div class="mt-2 ml-2">
      <h6><strong>Stefanie</strong></h6>
      <p style="opacity: 0.7; line-height: 0.5;"><%= Date.today %></p>
    </div>
  </div>
    <p class="ml-4 mb-5">The bike was in perfect condition and I would love to rent it again.</p>

</div>

