<div class="container">
  <h1 class="mt-4">An elegant <%= @bike.bike_name %> </h1>
  <h4>Located in <%= @bike.bike_address%> </h4>
    <% if @bike.photo.attached? %>
      <div class="banner-show" style="background: url(<%= url_for(@bike.photo) %>); background-size: cover;"></div>
    <% elsif @bike.bike_name == 'Cowboy' %>
      <div class="banner-show" style="background: url('<%= asset_url 'cowboy.png' %>'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
    <% elsif @bike.bike_name == 'Vanmoof' %>
      <div class="banner-show" style="background: url('<%= asset_url 'vanmoof.png' %>'); background-size: cover;  background-position: center; background-repeat: no-repeat;"></div>
    <% elsif @bike.bike_name == 'Angell' %>
      <div class="banner-show" style="background: url('<%= asset_url 'Angel.png' %>'); background-size: cover; background-position: bottom; background-repeat: no-repeat;"></div>
    <% else %>
      <div class="banner-show" style="background: url('<%= asset_url 'image-bike-show.png' %>'); background-size: cover; background-size: contain; background-repeat: no-repeat;"></div>
    <% end %>

  <div class="row">
    <div class="col-8 bike-content">
      <h5>A stable and charming bike offered by <%= @bike.user.first_name %> </h5>
      <br>
      <hr>
      <p><strong>Description</strong><br> <%= @bike.bike_description %> </p>
    </div>

    <hr>

    <div class=" col-4" >
      <div class="booking-form">
        <%= simple_form_for [ @bike, @booking ] do |f| %>
          <%= f.input :booking_date, label: 'Start Date' %>
          <%= f.input :end_date, label: 'End Date' %>
          <%= f.input :booking_message, label: 'Message', as: :text %>
          <%= f.submit "Reserve your bike", class: "btn btn-booking" %>
          <hr>
          <div class="price-form">
            <p><strong>Price</strong></p>
            <p><strong>€</strong><%= @bike.price %><span>/day</span></p>
          </div>
        <% end %>

      </div>
    </div>

  </div>
  <br>
  <br>
  <div class="map mt-5">
    <h3>Location</h3>
    <div id="map"
       style="width: 100%; height: 600px; border-radius: 12px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

</div>

